{% extends 'kakeibo/base.html' %}
{% load humanize %}

{% block content %}       
    <div class="row">
        <div class="col-md-8">

            <h2>以下の内容を削除しますか？</h2>
            <table class="table">
                <tr>
                    <th>日付</th>
                    <th>カテゴリ</th>
                    <th>金額</th>
                    <th>メモ</th>
                    <th>支払者</th>
                    <th>清算</th>
                </tr>
                <tr>
                    <td>{{ kakeibo.date }}</td>
                    <td>{{ kakeibo.category }}</td>
                    <td align="right">{{ kakeibo.money|intcomma }}</td>
                    <td>{{ kakeibo.memo|default_if_none:"" }}</td>
                    <td>{{ kakeibo.payer }}</td>
                    <td align="center">{% if kakeibo.seisan %}済{% else %}未{% endif %}</td>
                </tr>
            </table>

            <form method="POST" class="post-form">
            	{% csrf_token %}
                <button type="submit" class="save btn btn-default">削除</button>
            </form>

        </div>
    </div>
{% endblock %}