{% extends 'kakeibo/base.html' %}
{% load humanize %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <table class="table table-sm ">
        <tr>
            <th><h2><a href="{% url 'kakeibo:kakeibo_create' %}">家計簿入力</a></h2></th>
            <th><h2><a href="{% url 'kakeibo:kakeibo_create' %}">今月の請求額</a></h2></th>
        </tr>
    </table>

    <table class="table table-sm ">
        <tr>
            <th>No.</th>
            <th>日付</th>
            <th>カテゴリ</th>
            <th>金額</th>
            <th>メモ</th>
            <th>支払者</th>
            <th>清算</th>
            <th>編集</th>
            <th>削除</th>
        </tr>
        {% for kakeibo in kakeibo_list %}
            <tr>
                <td align="right">{{ forloop.counter }}</td>
                <td>{{ kakeibo.date }}</td>
                <td>{{ kakeibo.category }}</td>
                <td align="right">¥ {{ kakeibo.money|intcomma }}</td>
                <td>{{ kakeibo.memo|default_if_none:"" }}</td>
                <td>{{ kakeibo.payer }}</td>
                <td>
                    {% if kakeibo.seisan %}
                        済
                    {% else %}
                        未
                    {% endif %}
                </td>
                <td align="center">
                    <a href="{% url 'kakeibo:kakeibo_update' pk=kakeibo.pk %}">編集</a>
                </td>
                <td align="center">
                    <a href="{% url 'kakeibo:kakeibo_delete' pk=kakeibo.pk %}">削除</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}